<div class="container">
  <div class="row">
    <a href="{{ path('homepage') }}">Home</a>
  </div>
  <div class="row">
    <div class="col-sm">
      <h6 class="mb-0">{{ job.getTitle }}</h6>
    </div>
</div>
<div class="row">
    <div class="col-sm">
      <span class="date-time">{{ job.getDateCreated|date('d. m. Y H:i:s') }}</span>
    </div>
</div>
<div class="row">
    <div class="col-sm">
      {{ job.getDescription|raw }}
    </div>
  </div>
</div>